/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERALI */

body{
    font-family: 'Montserrat', sans-serif;
}                                                     

footer{
    height: 100px;
}

.flex{
    display: flex;
}

button{
    cursor: pointer;
}

/* PALETTE */

:root{
    --aside: black;
    --header: #080b12;
    --main: #141922;
    --footer: #282828;
    --text-light: #686b6f;
    --text-white: #fbfcfb;
}


/* SCROLLBAR */

.col2{
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--header); 

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--text-light);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--footer); 
  }


/* MAIN */

main{
    height: calc(100vh - 100px);
    
}

/* COL2 */

.col2{
    width: calc(100vw - 200px);
    height: calc(100vh - 100px);
    overflow: auto;
    background-color: var(--main);
}

header{
    background-color: var(--header);
    justify-content: flex-end;
    position: sticky;
    top: 0;
    left: 0;
    scroll-margin-top: 100px;
    z-index: 30;
    width: 100%;
}

.btn-up{
    color: var(--text-white);
    border-radius: 40px;
    border: 1px solid var(--text-white);
    background-color: var(--header);
    padding: 13px 35px;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    margin: 20px;
}

.nav-main{
    justify-content: center;
    padding: 20px 0;
}

.nav-main ul{
    list-style: none;
}

.nav-main ul li{
    display: inline-block;
}

.nav-main ul li a{
    color: var(--text-light);
    padding: 8px;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-main ul li:first-child{
    border-bottom: 2px solid lime;
}

.brane{
    margin: 10px 20px;
}

/* CARDS */

.col2 h2{
    color: var(--text-white);
    font-weight: bold;
    font-size: 23px;
    padding-bottom: 10px;
}

.col2 h3{
    color: var(--text-white);
    font-weight: bold;
    font-size: 18px;
    padding: 10px 0;

}

.col2 h4{
    color: var(--text-light);
    font-size: 15px;
}

.cards{
    justify-content: space-between;
}

#created .cards,
#artist .cards{
    justify-content: flex-start;
}

#created .card,
#artist .card{
    margin-right: 15px;
}

.card{
    width: calc(100% / 6 - 10px);
    margin: 30px 0;
    text-align: center;
}

.card img{
    width: 100%;
}

#artist .card img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}






/* ASIDE */

.col1{
    width: 200px;
    background-color: var(--aside);
    height: calc(100vh - 100px);
}

.col1-cont{
    width: 85%;
    margin: 0 auto;
    color: var(--text-light);
    flex-wrap: wrap;
    height: 100%;
}

.col1-cont div{
    width: 100%;
}

.logo{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 90%;
}

.option{
    margin: 20px 0;
}

.home{
    color: var(--text-white);
    font-weight: bold;
}

.option span{
    vertical-align: middle;
}

.option img{
    width: 20%;
}

.playlist{
    padding-bottom: 20px;
}

.playlist h3{
    color: var(--text-white);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    padding-bottom: 10px;
}

.playlist i{
    color: var(--text-light);
    font-size: 50px;
    border-radius: none;
    padding-right: 10px;
}

.playlist span{
    vertical-align: middle;
}

.nav-playlist{
    overflow: auto;
}

.nav-playlist ul{
    list-style: none;
    line-height: 2.5rem;
}

.nav-playlist ul li a{
    text-decoration: none;
    color: var(--text-light);
}

.bottom-aside{
    align-self: flex-end;
}

.top-a,.bot-a{
    padding: 10px 0;
}

.top-a span,.bot-a span{
    padding-right: 10px;
}

.bottom-aside span{
    vertical-align: middle;
}

.top-a img{
    width: 10%;
}

.bot-a img{
    width: 20%;
    background-color: var(--text-light);
    border-radius: 50%;
    padding: 4px;
}

.bot-a{
    color:var(--text-white);
    font-weight: bold;
}


/* FOOTER */

footer{
    background-color: var(--footer);
    padding: 0 20px;
    
}

.foot-cont{
    justify-content: space-between;
    height: 100px;
}

.left, .right, .center{
    align-items: center;
    justify-content: center;
}

/* LEFT */

.player-img img{
    width: 100%;
    height: 100%;
}

.player-img{
    width: 50px;
    height: 50px;
}

.text-play div:first-child{
    color: var(--text-white);
    font-weight: bold;
    font-size: 0.8em;
}

.text-play div:nth-child(2){
    color: var(--text-light);
    font-size: 0.7em;
}

.text-play{
    padding: 0 10px;
}

.button-left button{
    background-color: var(--footer);
    border: none;
    color: var(--text-light);
    font-size: 18px;
    padding: 0 8px;
}

.button-left{
    padding: 0 20px;
}

/* CENTER */

.center{
    flex-direction: column;
}

.play1, .play2{
    align-items: center;
    padding-bottom: 10px;
}

.play1 button{
    background-color: var(--footer);
    border: none;
    color: var(--text-white);
    font-size: 23px;
    padding: 0 15px;
}

.play1 .special{
    font-size: 35px;
    padding: 0 20px;
}

.play2{
    color: var(--text-white);
}

.prog1,
.prog2 {
    position: relative;
    height: 5px;
    width: 450px;
    cursor: pointer;
  }
  
  .prog1::before,
  .prog1::after,
  .prog2::before,
  .prog2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 20px;
  }
  
  .prog1::before,
  .prog2::before {
    width: 100%;
    background: var(--text-light);
  }
  
  .prog1::after,
  .prog2::after {
    width: 25%;
    background: var(--text-white);
  }


.prog2{
    width: 150px;
}

.play2 span{
    padding: 0 25px;
    font-size: 12px;
    font-weight: bold;
}

/* RIGHT */

.right{
    flex-wrap: wrap;
}

.right button{
    background-color: var(--footer);
    border: none;
    color: var(--text-white);
    font-size: 15px;
    padding: 0 10px;
}

.right button:nth-child(3){
    padding-right: 25px;
}
